<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Docente: {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-subtitle>Profesor: {{name}}</ion-card-subtitle>
      <br />
      <ion-card-title>Programación de Aplicaciones Móviles</ion-card-title>
    </ion-card-header>
    <ion-button
      class="custom-button"
      expand="block"
      size="small"
      color="warning"
      (click)="iniciarClase()"
    >
      Iniciar Clase
    </ion-button>
  </ion-card>
</ion-content>
