<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Docente: {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card" *ngFor="let class of classes">
    <ion-card-header>
      <ion-card-title>{{class.subject}}</ion-card-title>
    </ion-card-header>
    <ion-button
      class="custom-button"
      expand="block"
      size="small"
      color="warning"
      (click)="navigateToSiguientePagina(class.id)"
    >
      Iniciar Clase
    </ion-button>
  </ion-card>
</ion-content>
