<ion-content>
  <ion-card class="login-card">
    <div class="image-container">
      <ion-card class="custom-card">
        <ion-img
          src="../../../assets/imagenes/Duoc.png"
          alt="Logo Duoc"
        ></ion-img>
      </ion-card>
    </div>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="email"
            name="email"
            (focus)="emailTouched = true"
            (blur)="onFieldBlur('email')"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="errorMessages.email" class="error-message">
          {{ errorMessages.email }}
        </div>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            (focus)="passwordTouched = true"
            (blur)="onFieldBlur('password')"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="errorMessages.password" class="error-message">
          {{ errorMessages.password }}
        </div>
        <ion-button
          expand="full"
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          Iniciar Sesión
        </ion-button>
      </form>
      <div *ngIf="errorMessages.auth" class="error-message">
        {{ errorMessages.auth }}
      </div>
      <a
        [routerLink]="['/restablecer-contrasena']"
        class="restablecer-contrasena-link"
      >
        ¿Olvidaste tu contraseña?
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
